openapi: 3.0.3
info:
  title: Pay Service API
  description: API для сервиса платежей
  version: 1.0.0
tags:
  - name: Balance
    description: Получение баланса
  - name: Payment
    description: Платеж
paths:
  /{userId}/balance:
    get:
      tags:
        - Balance
      summary: Получение баланса на счёте для пользователя
      parameters:
        - name: userId
          in: path
          required: true
          description: Уникальный идентификатор пользователя
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBalance'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Баланс для пользователя не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /pay:
    post:
      tags:
        - Payment
      summary: Осуществлением платежа для пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayRequest'
      responses:
        '201':
          description: Оплата успешно проведена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBalance'
        '400':
          description: Ошибка валидации запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Баланс для пользователя не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    PayRequest:
      type: object
      required:
        - userId
        - amount
      properties:
        userId:
          type: integer
          format: int64
        amount:
          type: integer
          format: int64

    UserBalance:
      type: object
      required:
        - userId
        - balance
      properties:
        userId:
          type: integer
          format: int64
        balance:
          type: integer
          format: int64

    ErrorResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Код ошибки
        message:
          type: string
          description: Описание ошибки